name: Submission Advanced Pipeline

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  train-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python 3.12.7
      uses: actions/setup-python@v4
      with:
        python-version: '3.12.7'

    # 3. Install Dependencies
    - name: Install dependencies
      run: |
        pip install pandas scikit-learn mlflow dagshub joblib virtualenv

    # 4. RUN MLFLOW PROJECT (Syarat Dasar)
    - name: Run MLflow Project
      env:
        MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI }}
        MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
        MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        DAGSHUB_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
        DAGSHUB_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
        DAGSHUB_REPO_NAME: ${{ secrets.DAGSHUB_REPO_NAME }}
      run: |
        cd MLProject
        # Script ini akan menghasilkan: model_random_forest.pkl DAN folder model_final
        mlflow run . --env-manager=local

    # 5. PUSH ARTIFACT VIA LFS (untuk Syarat Skilled)
    - name: Commit and Push Model to LFS
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        
        cd MLProject
        
        # Setup LFS
        sudo apt-get install git-lfs
        git lfs install
        git lfs track "*.pkl"
        
        # Add & Commit file .pkl
        git add .gitattributes
        git add model_random_forest.pkl
        
        # Push balik (Skip CI agar tidak looping)
        git commit -m "Auto-save model artifact via LFS [skip ci]" || echo "No changes"
        git push

    # 6. BUILD DOCKER VIA MLFLOW (untuk Syarat Advanced)
    # Kita Menggunakan folder 'model_final' yang dihasilkan langkah 4
    - name: Build Docker Image using MLflow
      env:
        DOCKER_IMAGE: ${{ secrets.DOCKER_USERNAME }}/submission-advanced-terbaru:latest
      run: |
        cd MLProject
        
        # Perintah ini otomatis membuat container API server dari folder model
        # -m: Lokasi folder model
        # -n: Nama image
        # --enable-mlserver: Opsional, untuk performa lebih baik (bisa dihapus jika error)
        mlflow models build-docker -m model_final -n $DOCKER_IMAGE

    # 7. PUSH TO DOCKER HUB
    - name: Login and Push to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        
    - name: Push Image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/submission-advanced-terbaru:latest
