name: MLOps Github LFS Pipeline

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  train-and-push:
    runs-on: ubuntu-latest

    steps:
    # 1. Ambil kode kamu
    - name: Checkout code
      uses: actions/checkout@v3

    # 2. Siapkan Python
    - name: Set up Python 3.12.7
      uses: actions/setup-python@v4
      with:
        python-version: '3.12.7'

    # 3. Install Library
    - name: Install dependencies
      run: |
        pip install pandas scikit-learn joblib

    # 4. JALANKAN TRAINING
    # Script ini akan menghasilkan file 'model_random_forest.pkl' di dalam folder MLProject
    - name: Train Model
      run: |
        cd MLProject
        python modelling.py

    # 5. CONFIG LFS & PUSH ARTIFACT
    # Langkah ini akan mendeteksi file .pkl baru dan mengirimnya ke Repo pakai LFS
    - name: Commit and Push Model (LFS)
      run: |
        # Setup identitas bot
        git config --global user.name "github-actions[bot]"
        git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
        
        # Pindah ke folder project
        cd MLProject
        
        # Cek apakah file model ada
        ls -lh model_random_forest.pkl
        
        # Setup Git LFS
        # Kita install dulu git-lfs di linux runner ini
        sudo apt-get install git-lfs
        git lfs install
        
        # Lacak file .pkl
        git lfs track "*.pkl"
        
        # Masukkan file ke antrian upload (Staging)
        git add .gitattributes
        git add model_random_forest.pkl
        
        # Commit dan Push
        # Kita pakai 'git diff' dulu untuk memastikan ada perubahan
        git diff --quiet && git diff --staged --quiet || (git commit -m "Auto-update model artifact via CI [skip ci]" && git push)
