name: CI Workflow Advanced

on: [push]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12.7'

    - name: Install Dependencies
      run: |
        pip install mlflow==2.19.0 pandas scikit-learn matplotlib seaborn virtualenv

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Run MLflow Project
      run: |
        cd MLProject
        mlflow run . --env-manager=local

    - name: Build and Push Docker Image
      run: |
        echo "Mencari Run ID terakhir..."
        # Mencari ID folder acak yang dibuat MLflow di dalam mlruns/0
        LAST_RUN_ID=$(ls -t MLProject/mlruns/0/ | grep -v meta.yaml | head -n 1)
        echo "Run ID ditemukan: $LAST_RUN_ID"
        
        mlflow models build-docker \
          --model-uri "MLProject/mlruns/0/$LAST_RUN_ID/artifacts/model" \
          --name "${{ secrets.DOCKER_USERNAME }}/submission-ml-model:latest"
        
        echo "Mengirim ke Docker Hub..."
        docker push ${{ secrets.DOCKER_USERNAME }}/submission-ml-model:latest

    - name: Archive Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mlruns-data
        path: MLProject/mlruns
