name: CI Workflow Basic

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12.7'

    - name: Install Dependencies
      run: |
        pip install mlflow==2.19.0 pandas scikit-learn matplotlib seaborn virtualenv

    - name: Run MLflow Project
      run: |
        cd MLProject
        mlflow run . --env-manager=local
